<h4>{{title}}
    <small>
        {% if count %}
        共{{count}}条记录
        {% endif %}
    </small>
</h4>

{% if sql %}
<h5>sql语句：</h5>
<code>{{sql}}</code>
{% endif %}

<hr/>

{% if table_body %}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            {% for th in table_body.th %}
            <th>{{th}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for tr in table_body.tb %}
        <tr>
            {% for td in tr %}
            <td>{{td}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}