{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th>
                功能
            </th>
            <th>
                参数
            </th>
            <th>
                获取
            </th>
            <th>
                调用记录
            </th>
        </tr>
        </thead>
        <tbody>

        {% for item in t_items %}
        <tr>
            <form action="/fs_data" method="post">
                <td>
                    {{item.name}}
                </td>
                <td>
                    {% if item.params %}
                        {% for param in item.params %}
                        <label for="{{param.id}}">{{param.name}}</label>
                        <input id="{{param.id}}" type="text" value="{{param.def_value}}" placeholder="{{param.hint}}"/>
                        <br/>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <button id="bt_{{item.id}}" class="btn btn-primary btn-xs">获取</button>

                    <script type="text/javascript">
                        $("#bt_{{item.id}}").click(function(){
                            var paramsJson = {{item.params|tojson}};
                            var _params = new Array();
                            if (paramsJson !== null) {
                                for(var i=0;i<paramsJson.length;i++) {
                                    _params.push({
                                        for_what:paramsJson[i].for_what,
                                        value:$('#'+paramsJson[i].id).val()
                                    });
                                }
                            }
                            $.get("/fs_data", {
                                'id':'{{item.id}}',
                                'params':JSON.stringify(_params)
                            });

                        });
                    </script>
                </td>
                <td>
                    {% if item.history %}
                    {{ moment(item.history).format('YYYY年M月D日, h:mm:ss a') }}
                    {% else %}
                    暂无记录
                    {% endif %}
                </td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}