{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                功能
            </th>
            <th>
                参数
            </th>
            <th>
                获取
            </th>
            <th>
                调用记录
            </th>
        </tr>
        </thead>
        <tbody>

        {% for item in t_items %}
        <tr>
            <form action="/fs_data" method="post">
                <td>
                    {{item.name}}
                </td>
                <td>
                    <input name="id" value="{{item.id}}" hidden/>
                    {% if item.params %}
                        {% for param in item.params %}
                        <label for="{{param.for_what}}">{{param.name}}</label>
                        <input name="{{param.for_what}}" type="text" value="{{param.def_value}}" placeholder="{{param.hint}}" required="required"/>
                        <br/>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <input class="btn btn-primary btn-xs" type="submit" value="获取"/>
                </td>
                <td>
                    {% if item.history %}
                    {{ moment(item.history).format('YYYY年M月D日, h:mm:ss a') }}
                    {% else %}
                    暂无记录
                    {% endif %}
                </td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}