{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
{{ moment.include_moment() }}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<link rel=stylesheet type=text/css href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
<link rel=stylesheet type=text/css href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block body %}
<div class=page>
    <div class=metanav>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li id="nav_index">
                        <a href="./">首页</a>
                    </li>
                    <li id="nav_setting">
                        <a href="./setting">设置</a>
                    </li>
                    <li id="nav_getdata">
                        <a href="./getdata">获取数据</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}
    <div class="container">
        {% for category,message in get_flashed_messages(with_categories=true) %}
        <div id="flash" class="alert alert-{{category}}" role="alert">
            <button type="button" class="close" data-dismiss="alert" onclick="$('#flash').hide()">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{moment.lang('zh-CN')}}
{% endblock %}