{% extends "base.html" %}
{% block page_content %}

{% import "bootstrap/wtf.html" as wtf %}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="page [secondary] with-sidebar">
                <div class="page-sidebar">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {% if form_info_list %}
                        {% for form_info in form_info_list %}
                        <a href="{{ url_for('main.setting_for', form_id=form_info.id) }}"
                           type="button"
                           class="btn btn-default btn-block">{{ form_info.name }}
                            <br/>
                        </a>
                        {% endfor %}
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
        <div id="form_container" class="col-md-7 column">
            {% if form %}
                {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}