{% extends "layout.html" %}
{% block page_content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/tables.js') }}"></script>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <div class="page [secondary] with-sidebar">
                <div class="page-sidebar">
                    <ul>
                        {% if tables %}
                        {% for table in tables %}
                        <li style="list-style-type:none;">
                            <p>
                                <button id="bt_table_{{table.table}}" type="button"
                                        class="btn btn-info btn-block btn-sm">{{ table.name }}
                                </button>
                            </p>
                        </li>
                        {% endfor %}
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
        <div id="table_container" class="col-md-7 column">

        </div>
        <div class="col-md-2 column">
            <label>执行sql</label>
            <textarea id="txt_sql" class="form-control" rows="3" placeholder="输入sql语句">{{executed_sql or ''}}</textarea>
            <br/>
            <button id="bt_execute" type="button" class="btn btn-xs btn-info btn-block">Execute</button>
        </div>
    </div>
</div>


{% endblock %}
