{% extends "base.html" %}
{% block page_content %}
<script src="{{ url_for('static', filename='js/bootstrap3-typeahead.min.js') }}"></script>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-3 column">
            <div class="page [secondary] with-sidebar">
                <div class="page-sidebar">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        {% if views %}
                        {% for view in views %}
                            <a class="btn btn-default" href="{{ url_for('main.visualization_layout', id=view.id) }}" role="button">{{ view.name }}</a>
                        {% endfor %}
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
        <div id="view_container">
            <!--绘图区域-->
            {% block view_content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}
